/*
font-family: 'Manuale', serif;
font-family: 'Rosario', sans-serif;
 
Gray
#69747C

Light Green 
#8ACB88

Dark Green
#084411
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Manuale", serif;
  border: none;
  list-style: none;
}

footer {
  display: grid;
  grid-template: 2vw auto 2vw / 2vw 3fr 3fr 3fr 1fr 2vw;
}

.mainMeny {
  grid-column: 1 / 6;
  grid-row: 5/6;
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: gray;
}

.smallMainMeny {
  grid-column: 1 / 3;
  grid-row: 5/6;
}

.sök {
  background-color: lightgray;
}

.sidepanel {
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/* Mobile */
@media screen and (max-width: 450px) {
  .smallMainMeny {
    display: flex;
  }

  .mainMeny {
    display: none;
  }

  header {
    display: grid;
    grid-template: 16px auto auto 16px auto / 16px 20px 1.5fr 1fr 16px;
  }

  .topLogo {
    grid-column: 2 / 4;
    grid-row: 2/3;
    border-style: solid;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    padding-left: 8.5px;
    padding-right: 10.5px;
  }

  .bottomLogo {
    grid-column: 2 / 4;
    grid-row: 3/4;
    background-color: gray;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 4px;
  }

  .smallMeny {
    grid-column: 4 / 5;
    grid-row: 2/4;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    margin: 0px, 0px, 16px, 16px;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .openbtn {
    grid-column: 1 / 3;
    grid-row: 5/6;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .sök {
    grid-column: 3 / 6;
    grid-row: 5/6;
  }
}

/* desktop */
@media screen and (min-width: 450px) {
  .smallMainMeny,
  .openbtn {
    display: none;
  }

  .mainMeny {
    display: flex;
  }

  .sök {
    grid-column: 4 / 6;
    grid-row: 3/4;
    justify-self: end;
    align-self: center;
    border-style: solid;
  }

  header {
    display: grid;
    grid-template: 30px auto auto 30px auto / 30px 1fr 1fr 1fr 30px;
  }

  .topLogo {
    grid-column: 2 / 4;
    grid-row: 2/3;
    border-style: solid;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    padding-left: 11px;
    padding-right: 13px;
  }

  .bottomLogo {
    grid-column: 2 / 4;
    grid-row: 3/4;
    background-color: gray;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 4px;
  }

  .smallMeny {
    grid-column: 4 / 5;
    grid-row: 2/3;
    justify-self: end;
    align-self: center;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    margin: 0px, 0px, 30px, 0px;
  }

  .smallMeny a {
    padding: 16px 30px 16px 30px;
  }

  .openbtn {
    grid-column: 1 / 3;
    grid-row: 5/6;
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
